$black: rgb(60, 60, 60);
$break-medium: 641px;
$green-1: rgb(100, 180, 80);
$green-2: rgb(115, 190, 80);
$green-3: rgb(130, 200, 80);
$green-4: rgb(145, 210, 80);
$green-hover: rgb(70, 160, 80);

body {
  -webkit-font-smoothing: antialiased;
  background: white;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  margin: 0;
  text-align: center;

  @media(min-width: $break-medium) {
    font-size: 1.125em;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1em;
  text-align: center;

  @media(min-width: $break-medium) {
    padding: 0 40px;
  }
}

p {
  font-weight: 400;
  margin: 0;
}

strong {
  font-weight: 900;
}

a {
  color: $black;
  text-decoration: underline;
}

.container {
  float: left;
  margin-bottom: 4em;
  position: relative;
  width: 100%;

  @media(min-width: $break-medium) {
    margin-bottom: 6em;
  }

  &:last-of-type {
    margin-bottom: 6em;

    @media(min-width: $break-medium) {
      margin-bottom: 8em;
    }
  }
}

.icons {
  color: white;
  font-size: 16px;

  a {
    color: white;
  }
}

.description {
  padding: 0 20px;

  @media(min-width: $break-medium) {
    padding: 0 40px;
  }
}

.text {
  margin: 0 auto;
  max-width: 740px;

  a {
    transition: color 0.2s ease-out;

    &:hover {
      color: $green-hover;
    }
  }
}
