.icon-container {
  $break-large: 901px;
  $break-huge: 1301px;
  $height-small: 160px;
  $height-large: 200px;
  $height-huge: 240px;
  $icon-height: 23px;

  &:first-child {
    background: $green-1;
  }

  &:nth-child(2) {
    background: $green-2;
  }

  &:nth-child(3) {
    background: $green-4;
  }

  &:nth-child(4) {
    background: $green-3;
  }

  &:nth-child(5) {
    background: $green-4;
  }

  &:nth-child(6) {
    background: $green-3;
  }

  &:nth-child(7) {
    background: $green-1;

    @media(min-width: $break-large) {
      background: $green-2;
    }

    @media(min-width: $break-huge) {
      background: $green-1;
    }
  }

  &:nth-child(8) {
    background: $green-2;

    @media(min-width: $break-large) {
      background: $green-1;
    }

    @media(min-width: $break-huge) {
      background: $green-2;
    }
  }

  &:nth-child(9) {
    background: $green-1;
  }

  &:nth-child(10) {
    background: $green-2;
  }

  &:nth-child(11) {
    background: $green-4;
  }

  &:nth-child(12) {
    background: $green-3;
  }

  &:nth-child(13) {
    background: $green-4;
  }

  &:nth-child(14) {
    background: $green-3;
  }

  &:nth-child(15) {
    background: $green-1;

    @media(min-width: $break-large) {
      background: $green-2;
    }

    @media(min-width: $break-huge) {
      background: $green-1;
    }
  }

  &:hover {
    background: $green-hover;
  }

  float: left;
  height: $height-small;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 100%;

  @media(min-width: $break-large) {
    height: $height-large;
    width: 25%;
  }

  @media(min-width: $break-huge) {
    height: $height-huge;
    width: 20%;
  }

  p {
    font-weight: 700;
    margin: ($height-small / 5.5) 0 0;

    @media(min-width: $break-large) {
      margin: ($height-large / 5.5) 0 0;
    }

    @media(min-width: $break-huge) {
      margin: ($height-huge / 5.5) 0 0;
    }
  }

  .icon {
    margin: 0 auto;
    margin-top: $height-small / 5.5;

    @media(min-width: $break-large) {
      margin-top: $height-large / 5;
    }

    @media(min-width: $break-huge) {
      margin-top: $height-huge / 4.75;
    }
  }
}
