body {
  background: $gray;
  color: $gray;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  left: 0;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 5%;
  right: 0;

  @media(min-width: 401px) {
    top: 7.5%;
  }

  @media(min-width: 601px) {
    top: 10%;
  }

  @media(min-width: 1001px) {
    top: 15%;
  }
}

h1 {
  color: $white;
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 40px 0;
  text-align: center;

  @media(min-width: 601px) {
    margin-bottom: 60px;
    font-size: 30px;
  }
}

.icons-container {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;

  .icon-container {
    display: inline-block;
    margin: 8% 12%;
    position: relative;

    @media(min-width: 601px) {
      margin: 8%;
    }
  }
}
