.icon {
  cursor: pointer;
  width: 28px;

  .line,
  .line_inner {
    background: $white;
    height: 3px;
    margin-top: 7px;
    width: 28px;
  }

  .line:first-child {
    margin-top: 0;
  }

  .line_outer:first-child .line_inner {
    margin-top: 0;
  }
}
