@mixin transform($contents) {
  -webkit-transform: $contents;
  -ms-transform: $contents;
  transform: $contents;
}

@mixin transition($contents) {
  -webkit-transition: $contents;
  -ms-transition: $contents;
  transition: $contents;
}
