@keyframes pop-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.tabs {
  animation: pop-in 0.2s 0.4s ease-out forwards;
  background: rgb(100, 140, 255);
  color: $white;
  display: none;
  float: left;
  left: -126px;
  position: absolute;
  top: 50px;
  transform: scale(0);
  width: 280px;
  z-index: 1;
}

.tab-title {
  background: rgb(80, 120, 200);
  cursor: pointer;
  float: left;
  padding: 10px 0;
  width: 93px;

  &:nth-child(even) {
    width: 94px;

    &:before {
      background: rgb(80, 120, 200);
      content: '';
      height: 20px;
      transform: rotate(45deg);
      width: 20px;
      display: block;
      margin: 0 auto;
      z-index: -1;
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
    }
  }

  &.active {
    background: rgb(100, 140, 255);
    cursor: default;

    &:before {
      background: rgb(100, 140, 255);
    }
  }
}

.tab-content {
  display: none;
  padding: 30px;
  float: left;
  width: 100%;

  &.active {
    display: block;
  }

  p {
    margin: 0 0 20px;
    font-weight: 400;
  }

  a {
    background: $white;
    border-radius: 3px;
    color: rgb(60, 100, 160);
    display: block;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:focus {
      outline: none;
    }

    &:hover {
      background: rgb(60, 100, 160);
      color: $white;
    }
  }
}
