body {
	background: #dc78b4;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	margin: 120px 0;
}

#container {
	margin: 0 auto;
	max-width: 740px;
}

h1 {
	color: #fff;
	font-family: 'Palanquin', sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 60px 0;
	text-align: center;
}

#icon1 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {

		#line1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#icon2 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {

		#line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

#icon3 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {

		#line1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		#line2 {
			transform: scale(0, 1);
		}

		#line3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#icon4 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {

		#line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		#line2 {
			transform: scale(0, 1);
		}

		#line3 {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

#icon5 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotate(90deg);

		#line1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		#line2 {
			transform: scale(0, 1);
		}

		#line3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#icon6 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotate(-90deg);

		#line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		#line2 {
			transform: scale(0, 1);
		}

		#line3 {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

#icon7 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotate(360deg);

		#line1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#icon8 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotate(-360deg);

		#line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

#icon9 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotateY(180deg);

		#line1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		#line2 {
			transform: scale(0, 1) translate(150px, 0);
		}

		#line3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}

#icon10 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.4s cubic-bezier(0, 0, 0, 1);
		width: 28px;

		&:first-child {
			margin-top: 0;
		}
	}

	&.animate {
		transform: rotateY(-180deg);

		#line1 {
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		#line2 {
			transform: scale(0, 1) translate(-150px, 0);
		}

		#line3 {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

#icon11 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);

	.line {
		transition: 0.2s 0.4s cubic-bezier(0, 0, 0, 1);

		&:first-child .line_inner {
			margin-top: 0;
		}
	}

	.line_inner {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.2s cubic-bezier(0, 0, 0, 1);
		width: 28px;
	}

	&.animate {
		transform: rotate(90deg);

		.line {
			transition: 0.2s cubic-bezier(0, 0, 0, 1);
		}

		.line_inner {
			transition: 0.2s 0.4s cubic-bezier(0, 0, 0, 1);
		}

		#line1 {
			transform: translate(0, 10px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: translate(0, -10px);
		}

		#line_inner1 {
			transform: rotate(45deg);
		}

		#line_inner3 {
			transform: rotate(-45deg);
		}
	}
}

#icon12 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);

	.line {
		transition: 0.2s 0.4s cubic-bezier(0, 0, 0, 1);

		&:first-child .line_inner {
			margin-top: 0;
		}
	}

	.line_inner {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.2s cubic-bezier(0, 0, 0, 1);
		width: 28px;
	}

	&.animate {
		transform: rotate(-90deg);

		.line {
			transition: 0.2s cubic-bezier(0, 0, 0, 1);
		}

		.line_inner {
			transition: 0.2s 0.4s cubic-bezier(0, 0, 0, 1);
		}

		#line1 {
			transform: translate(0, 10px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: translate(0, -10px);
		}

		#line_inner1 {
			transform: rotate(-45deg);
		}

		#line_inner3 {
			transform: rotate(45deg);
		}
	}
}

#icon13 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);

		&:first-child .line_inner {
			margin-top: 0;
		}
	}

	.line_inner {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.2s cubic-bezier(0, 0, 0, 1);
		width: 28px;
	}

	&.animate {
		transform: rotate(90deg);

		.line {
			transition: 0.2s cubic-bezier(0, 0, 0, 1);
		}

		.line_inner {
			transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);
		}

		#line1 {
			transform: translate(0, 10px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: translate(0, -10px);
		}

		#line_inner1 {
			transform: rotate(45deg);
		}

		#line_inner3 {
			transform: rotate(-45deg);
		}
	}
}

#icon14 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;
	transition: 0.4s cubic-bezier(0, 0, 0, 1);

	.line {
		transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);

		&:first-child .line_inner {
			margin-top: 0;
		}
	}

	.line_inner {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.2s cubic-bezier(0, 0, 0, 1);
		width: 28px;
	}

	&.animate {
		transform: rotate(-90deg);

		.line {
			transition: 0.2s cubic-bezier(0, 0, 0, 1);
		}

		.line_inner {
			transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);
		}

		#line1 {
			transform: translate(0, 10px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: translate(0, -10px);
		}

		#line_inner1 {
			transform: rotate(-45deg);
		}

		#line_inner3 {
			transform: rotate(45deg);
		}
	}
}

#icon15 {
	cursor: pointer;
	float: left;
	margin: 60px;
	width: 28px;

	.line {
		transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);

		&:first-child .line_inner {
			margin-top: 0;
		}
	}

	.line_inner {
		background: #fff;
		float: left;
		height: 3px;
		margin-top: 7px;
		transition: 0.2s cubic-bezier(0, 0, 0, 1);
		width: 28px;
	}

	&.animate {

		.line {
			transition: 0.2s cubic-bezier(0, 0, 0, 1);
		}

		.line_inner {
			transition: 0.2s 0.2s cubic-bezier(0, 0, 0, 1);
		}

		#line1 {
			transform: translate(0, 10px);
		}

		#line2 {
			opacity: 0;
		}

		#line3 {
			transform: translate(0, -10px);
		}

		#line_inner1 {
			transform: rotate(45deg);
		}

		#line_inner3 {
			transform: rotate(-45deg);
		}
	}
}