// Helper mixins
@mixin transform($contents) {
  -webkit-transform: $contents;
  -ms-transform: $contents;
  transform: $contents;
}

@mixin transition($contents) {
  -webkit-transition: $contents;
  -ms-transition: $contents;
  transition: $contents;
}

// Icon styles
.icon10 {
  @include transition(0.4s cubic-bezier(0, 0, 0, 1));
  cursor: pointer;
  height: 23px;
  position: relative;
  width: 28px;

  .line {
    $margin: 10px;

    @include transition(0.4s cubic-bezier(0, 0, 0, 1));
    background: white;
    height: 3px;
    position: absolute;
    width: 28px;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: $margin;
    }

    &:nth-child(3) {
      top: $margin * 2;
    }
  }

  &.animate {
    @include transform(rotateY(-180deg));

    .line:first-child {
      @include transform(rotate(-45deg) translate(-7px, 7px));
    }

    .line:nth-child(2) {
      @include transform(scale(0, 1) translate(-150px, 0));
    }

    .line:nth-child(3) {
      @include transform(rotate(45deg) translate(-7px, -7px));
    }
  }
}
