// Helper mixins
@mixin transform($contents) {
  -webkit-transform: $contents;
  -ms-transform: $contents;
  transform: $contents;
}

@mixin transition($contents) {
  -webkit-transition: $contents;
  -ms-transition: $contents;
  transition: $contents;
}

// Icon styles
.icon4 {
  $line-height: 3px;
  $line-margin: 7px;
  $width: 28px;

  cursor: pointer;
  height: (3 * $line-height) + (2 * $line-margin);
  position: relative;
  width: $width;

  .line {
    @include transition(0.4s cubic-bezier(0, 0, 0, 1));
    background: white;
    height: $line-height;
    position: absolute;
    width: $width;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: $line-margin + $line-height;
    }

    &:nth-child(3) {
      top: ($line-margin + $line-height) * 2;
    }
  }

  &.animate .line {
    &:first-child {
      @include transform(rotate(-45deg) translate(-7px, 7px));
    }

    &:nth-child(2) {
      @include transform(scale(0, 1));
    }

    &:nth-child(3) {
      @include transform(rotate(45deg) translate(-7px, -7px));
    }
  }
}
