// Helper mixins
@mixin transform($contents) {
  -webkit-transform: $contents;
  -ms-transform: $contents;
  transform: $contents;
}

@mixin transition($contents) {
  -webkit-transition: $contents;
  -ms-transition: $contents;
  transition: $contents;
}

// Icon styles
.icon14 {
  $line-height: 3px;
  $line-margin: 7px;
  $width: 28px;

  @include transition(0.4s cubic-bezier(0, 0, 0, 1));
  cursor: pointer;
  height: (3 * $line-height) + (2 * $line-margin);
  position: relative;
  width: $width;

  .line-outer {
    @include transition(0.2s 0.2s cubic-bezier(0, 0, 0, 1));

    &:first-child .line-inner {
      top: 0;
    }

    &:nth-child(2) .line-inner {
      top: $line-margin + $line-height;
    }

    &:nth-child(3) .line-inner {
      top: ($line-margin + $line-height) * 2;
    }
  }

  .line-inner {
    @include transition(0.2s cubic-bezier(0, 0, 0, 1));
    background: white;
    height: $line-height;
    position: absolute;
    width: $width;
  }

  &.animate {
    @include transform(rotate(-90deg));

    .line-outer {
      @include transition(0.2s cubic-bezier(0, 0, 0, 1));

      &:first-child {
        @include transform(translate(0, 10px));

        .line-inner {
          @include transform(rotate(-45deg));
        }
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        @include transform(translate(0, -10px));

        .line-inner {
          @include transform(rotate(45deg));
        }
      }
    }

    .line-inner {
      @include transition(0.2s 0.2s cubic-bezier(0, 0, 0, 1));
    }
  }
}
