---
import Card from "./Card.astro";
import Hamburger, {
  Cross,
  Fade,
  Pivot,
  Rotate,
  Slant,
  Sling,
  Spin,
  Spiral,
  Squash,
  Squeeze,
  Turn,
  Twirl,
} from "../../../src";
---

<Card title="Tilt">
  <Hamburger
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import
    <span class="text-white">Hamburger</span>
    from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Hamburger size={36} slot="right" />
</Card>
<Card title="Squash">
  <Squash label="Hamburger icon" client:load size={36} slot="left" />
  <div>
    import {"{"}
    <span class="text-white">Squash</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
</Card>
<Card title="Cross">
  <Cross
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Cross</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Cross size={36} slot="right" />
</Card>
<Card title="Twirl">
  <Twirl
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Twirl</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Twirl size={36} slot="right" />
</Card>
<Card title="Fade">
  <Fade
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Fade</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Fade size={36} slot="right" />
</Card>
<Card title="Slant">
  <Slant
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Slant</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Slant size={36} slot="right" />
</Card>
<Card title="Spiral">
  <Spiral
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Spiral</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Spiral size={36} slot="right" />
</Card>
<Card title="Turn">
  <Turn
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Turn</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Turn size={36} slot="right" />
</Card>
<Card title="Pivot">
  <Pivot
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Pivot</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Pivot size={36} slot="right" />
</Card>
<Card title="Sling">
  <Sling
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Sling</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Sling size={36} slot="right" />
</Card>
<Card title="Squeeze">
  <Squeeze label="Hamburger icon" client:load size={36} slot="left" />
  <div>
    import {"{"}
    <span class="text-white">Squeeze</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
</Card>
<Card title="Spin">
  <Spin
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Spin</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Spin size={36} slot="right" />
</Card>
<Card title="Rotate" last>
  <Rotate
    label="Hamburger icon"
    client:load
    size={36}
    direction="right"
    slot="left"
  />
  <div>
    import {"{"}
    <span class="text-white">Rotate</span>
    as
    <span class="text-white">Hamburger</span>
    {"}"} from '<span class="text-green-400">hamburger-react</span>'
  </div>
  <Rotate size={36} slot="right" />
</Card>
