---
import Anchor from "./Anchor.astro";
---

<div class="hidden md:flex -mr-4 lg:-mr-6 font-medium text-lg">
  <Anchor label="Installation" to="installation" lgOnly />
  <Anchor label="Properties" to="properties" />
  <Anchor label="Examples" to="properties" xlOnly />
</div>
